#contenedor {
  height: 300px;
  background-color: brown !important;
  border-width: 13px !important;
}

#container-grid {
  background-color: yellow;
}

#container-grid .col {
  border: 1px solid black;
}